@font-face
    {
        font-family: "raleway";
        src: url("raleway.ttf");
    }  

body {
        font-family: "Raleway", sans-serif;
        margin: auto;
        display: block;
    }

img 
    {
        max-width: 40%;
        height: auto;
        float: left;
    }

#hebergements
    {
        background-color: #F2F2F2;
        border-radius: 50px;
        max-width: 100%;
        float: left;
        margin-right: 1.5%;
        margin-left: 2%;
        display: flex;
        flex-wrap: wrap;
        column-count: 3; 
        max-height: 100%;
    }

#lesplus
    {
        
        background-color: #F2F2F2;
        border-radius: 50px;
        max-width: 300px;
        float: right;
        margin-left: 1.5%;
        margin-right: 15%;
        flex-direction: column;
       
    }

#activites

    {
        min-width: 100%;
        max-width: 100%;
        margin: 1.5;
        flex-direction: row;
        display:flex;
        align-content: flex-start;
        vertical-align: baseline;
    }

footer
    {
        min-width: 100%;
        max-width: 100%;
        background-color:#F2F2F2 ;
    }



.logements
    {
        display: grid;
        margin:auto
        text-align: right;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        background-color: white;
        width: 30%;
        height: 100%;
        vertical-align: baseline;
        grid-template-columns: repeat(3, 1fr);
        flex-grow: 50%
        
    }

.

.populaires
    {
        margin: auto;
        display: grid;
        text-align: right;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        background-color: white;
        width: 80%;
        column-count: 3; 
    }


.loisir
    {
        margin: auto;
        
        justify-content: space-between;
        border-radius: 50px;
        background-color: white;
        width: 30%;
        
    }


.footer
    {
        margin: auto;
        display: inline-block;
       
        text-align: right;
        flex-direction: line;
        text-align: right;
        
        justify-content: space-between;
        
        width: 30%;
        column-count: 3; 



    }  