@media (max-width: 959px) {
  /*couvre des smartphones aux tablettes exclus*/

  body {
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: "raleway", sans-serif;
  }
  a {
    text-decoration: none;
    color: black;
  }

  .inscrire a {
    color: #0065fc;
    font-weight: bold;
  }

  .onglets_liste1 a:hover,
  .onglets_liste2 a:hover {
    border-bottom: 2px solid;
    color: #0065fc;
    display: block;
    border-spacing: 5px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .onglets_liste1 a,
  .onglets_liste2 a {
    border-bottom: 2px solid #f2f2f2;
    color: black;
    display: block;
    border-spacing: 5px;

    padding-bottom: 10px;
  }

  #logo_image {
    width: 120px;
    height: auto;
    margin-bottom: 0.7rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .inscrire {
    position: absolute;
    right: 5%;
    margin-top: -4.5rem;
  }
  .onglets {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
  }

  .titre {
    margin: 1rem;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1rem;
    font-weight: normal;
  }

  .liste {
    justify-content: space-between;
    display: flex;
    margin-top: 2rem;
   margin-bottom: 0.5rem;
  }

  .onglets_liste {
    width: 100%;
    text-align: center;
    display: flex;
  }
  .onglets_liste1,
  .onglets_liste2 {
    width: 50%;
  }

  form {
    display: flex;
    flex-wrap: nowrap;
    height: 3rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
   

 
  }
  .srch {
    display: flex;
    width: 100%;
  }

 
  .fas.fa-map-marker-alt {
    padding: 1rem;
    border-radius: 0.75rem 0 0 0.75rem;
    background-color: #f2f2f2;
    width: 4%;
    border: 1px solid #f2f2f2;
    text-align: center;
    max-height: 100%;
  }
  input {
    border: 1px solid #f2f2f2;
    width: 90%;
    max-width: 250px;
    font-size: 1.1rem;
    height: 3rem;
    padding-left: 1rem;
   
    background-color: white;
    font-weight: bold;
  }

  .fas.fa-search {
    padding: 1rem;
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    width: 1rem;
    border: 0px solid #0065fc;
    max-height: 100%;
    text-align: center;
   margin-left: -15px;
  }

  button {
    display: none;
  }

  .filtres_liste {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
  }

  .filtres_liste_carte1 {
    margin: 1.2rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    display: flex;
    flex-grow: 1;
  }

  .filtres_liste_carte2 {
    border-style: solid;
    border-radius: 30px;

    border-color: #f2f2f2;
    border-width: 2px;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: -0.2rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    display: flex;

    align-items: center;
  }
  .filtres_liste_carte2:hover {
    box-shadow: 0px 2px 4px 0px #80808059;

    cursor: pointer;
  }
  .filtres_liste_carte2 h2 {
    padding-left: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    padding-right: 0.7rem;
  }
  .filtres_liste_carte1 h2 {
    font-size: 1rem;
    font-weight: bold;
  }

  .fa-money-bill-wave,
  .fa-child,
  .fa-heart,
  .fa-dog {
    text-align: center;
    border-radius: 100%;
    color: #0368fc;
    background-color: #dfecff;
    padding: 13px;
    width: 20px;
    height: 20px;
    display: flex;
    margin-left: -3px;
  }

  .fas.fa-info {
    text-align: center;
    border-radius: 100%;
    color: #0368fc;

    border: 2px solid #f2f2f2;
    font-size: 0.75em;
    padding: 6px;
    width: 10px;
    height: 10px;
  }
  .info h2 {
    margin: 0.4rem;
  }

  .info {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    align-content: flex-start;
  }
  .section1 {
    flex-direction: column-reverse;
    display: flex;
  }

  .populaires {
    background-color: #f2f2f2;
    min-width: 100%;
   
  }

  .populaires h4 {
    display: flex;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .figure_populaires {
    display: flex;
    margin: 5px;
    font-size: smaller;
    width: 100%;
  }

  .populaires_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .populaires_image_carte {
    width: auto;
    display: flex;
    box-shadow: 0px 2px 4px 0px #80808059;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }

  .img_populaires {
    display: flex;
    border-radius: 15px 0px 0px 15px;

    width: 140px;
    height: 140px;
    object-fit: cover;
  }

  .populaires figcaption {
    width: 50%;
    color: black;
    margin-left: 1rem;
    margin-top: 0.6rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
  }

  .populaires h2 {
    margin: 0;
    font-weight: bold;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
  }

  .populaires h3 {
    margin: 0;
    font-weight: normal;
    font-size: 0.8rem;
  }

  .populaires_stars {
    margin-top: 7rem;
    color: #0368fc;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    height: 0.7rem;
    margin-right: 3rem;
    position: absolute;
  }

  .hebergement {
    min-width: 100%;
    margin-bottom: 2rem;
  }

  .hebergement_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .hebergement_image_carte {
    width: 100%;
    display: flex;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    box-shadow: 0px 2px 4px 0px #80808059;
  }
  .hebergement h4 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .hebergement a {
    width: 100%;
  }

  .figure_hebergement {
    display: flex;
    margin: 0;
    font-size: smaller;
    width: 100%;
    flex-direction: column;
  }

  .img_hebergement {
    display: flex;
    border-radius: 15px 15px 0px 0px;

    width: 100%;
    height: 110px;
    object-fit: cover;
  }
  .hebergement figcaption {
    color: black;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    line-height: 1.2rem;
    display: flex;
    flex-direction: column;
  }

  .hebergement h2 {
    margin: 0;
    font-weight: bold;
    font-size: 0.8rem;
  }

  .hebergement h3 {
    margin: 0;
    font-weight: normal;
    font-size: 0.8rem;
  }

  .hebergement_stars {
    font-size: 0.7rem;
    color: #0368fc;
    display: flex;
    align-items: center;
    height: 1.3rem;
  }
  .gris {
    font-size: 0.7rem;
    color: rgb(217,217,217);
    display: flex;
    align-items: center;
    line-height: 1.3rem;
  }

  .note {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
  }

  .activites {
    min-width: 100%;
    margin-bottom: 2rem;
  }

  .activites h4 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .figure_activites {
    display: flex;
    margin: 0;
    font-size: smaller;
    width: 100%;
    flex-direction: column;
  }

  .activites a {
    width: 100%;
  }

  .activites_image_carte1,
  .activites_image_carte2,
  .activites_image_carte3,
  .activites_image_carte4,
  .activites_image_carte5,
  .activites_image_carte6 {
    display: flex;
    box-shadow: 0px 2px 4px 0px #80808059;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    padding: 5px;
    
  }

  .img_activites14,
  .img_activites2,
  .img_activites3,
  .img_activites56 {
    display: flex;
    border-radius: 15px 15px 0px 0px;

    width: 100%;
    height: 10rem;
    object-fit: cover;
  }

  .activites figcaption {
    margin-left: 0.5rem;
  }

  .activites h2 {
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .footer {
    max-width: 100%;
    height: auto;
    background-color: #f2f2f2;
    padding-left: 1.2rem;
    padding-top: 1rem;
    padding-right: 1.2rem;
  }

  .footer_texte {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer_texte_carte {
    display: flex;
    flex-direction: column;

    margin-bottom: 1.5rem;
    max-width: 100%;
    line-height: 1.5rem;
  }

  .footer_texte_carte h2 {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }
}

/* RETOUR AU PC*/

@media (min-width: 960px) {
  body {
    height: 100%;
    width: 100%;
   
  }

  h1 {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
  }

  body {
    font-family: "Raleway", sans-serif;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .inscrire a {
    color: #0065fc;
    font-weight: bold;
    
  }
  .onglets_liste a:hover {
    border-top: 5px solid;
    color: #0065fc;
    
  }
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
  }

  .titre {
    padding-bottom: 1%;
    padding-top: 1%;
  }

  .titre h2 {
    font-size: 1rem;
    font-weight: normal;
  }

  form {
    display: flex;
    flex-wrap: nowrap;
    height: 3rem;
  }
  .srch {
    display: flex;
    
  }
  .fas.fa-map-marker-alt {
    padding: 11px;
    border-radius: 0.75rem 0 0 0.75rem;
    background-color: #f2f2f2;
    width: 1.5rem;
    border: 1px solid #f2f2f2;
    text-align: center;
    max-height: 100%;
  }
  input {
    border: 1px solid #f2f2f2;

    font-size: 1.1rem;
font-weight: bold;
    padding-left: 1rem;
    display: flex;

    background-color: white;
    height: 100%;
  }

  .fas.fa-search {
    display: none;
  }

  button {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    margin: auto;
    border-radius: 0 0.75rem 0.75rem 0;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    width: 10rem;
    border: 0px solid #0065fc;
    height: 100%;
    text-align: center;
  }

  .onglets {
    display: flex;
    align-items: center;

    margin-bottom: 1%;
  }
  .liste {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    font-size: 1.1rem;
  }
  #logo_image {
    width: 8rem;
    display: flex;
  }

  .onglets_liste {
    display: flex;
    flex-direction: row;
  }

  .onglets_liste1 a,
  .onglets_liste2 a {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    
  }

  .inscrire a {
    padding-left: 2rem;
  }

  .filtres {
    display: flex;

    margin-top: 2%;
    margin-bottom: 2rem;
  }

  .filtres_liste {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .filtres_liste_carte1 {
    margin-right: 3rem;
    margin-bottom: 1rem;
    font-size: 0.9em;
    font-weight: bold;
  }

  .filtres_liste_carte2 {
    border: 3px solid #f2f2f2;
    border-radius: 40px;
    margin-bottom: 1rem;
    height: 40px;
    margin-right: 2rem;
    justify-content: center;
    font-size: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .filtres_liste_carte2:hover {
    box-shadow: 0px 2px 4px 0px #80808059;
    cursor: pointer;
  }

  .filtres_liste_carte2 h2 {
    padding-left: 1rem;
    font-size: 1.1rem;
  }

  .fa-money-bill-wave,
  .fa-child,
  .fa-heart,
  .fa-dog {
    text-align: center;
    border-radius: 100%;
    color: #0368fc;
    background-color: #dfecff;
    padding: 13px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: -3px;
  }
  .fas.fa-info {
    text-align: center;
    border-radius: 100%;
    color: #0368fc;

    border: 2px solid #f2f2f2;
    font-size: 0.75em;
    padding: 6px;
    width: 10px;
    height: 10px;
  }
  .info {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  .info h2 {
    margin: 0.4rem;
    font-weight: normal;
    font-size: 1rem;
  }
  .section1 {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    
  }

  .hebergement {
    max-width: 68%;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    background-color: #f2f2f2;
    border-radius: 15px;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-right: 2%;
  }

  .hebergement_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
  }

  .img_hebergement {
    display: flex;
    border-radius: 15px 15px 0px 0px;

    width: 100%;
    height: 8rem;
    object-fit: cover;
  }
  .hebergement_image_carte {
    display: flex;
    width: 29%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 2rem;
    justify-content: center;
    padding: 5px;
    box-shadow: 0px 2px 4px 0px #80808059;
  }

  .hebergement figcaption {
    color: black;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    line-height: 1.3rem;
    display: flex;
    flex-direction: column;
  }

  .hebergement h4 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .hebergement h2 {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
  }

  .hebergement h3 {
    margin: 0;
    font-weight: normal;
    font-size: 0.8rem;
  }

  .hebergement_stars {
    font-size: 0.7rem;
    color: #0368fc;
    display: flex;
    align-items: center;
    height: 1.3rem;
   
  }
  .gris {
    font-size: 0.7rem;
    color:rgb(217,217,217);
    display: flex;
    align-items: center;
    line-height: 1.3rem;
  }
  .hebergement a {
    width: 100%;
  }

  .figure_hebergement {
    font-size: smaller;
    margin: 0;

    width: 100%;
  }
  .note {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  .populaires h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .populaires {
    padding-left: 2rem;
    padding-right: 2rem;
    
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 35%;
min-width: 310px;
    display: flex;
    flex-direction: column;
  }

  .populaires_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    align-items: center;
  }

  .img_populaires {
    display: flex;
    border-radius: 15px 0px 0px 15px;
align-items: stretch;

    width: 40%;
    height: 9rem;
    object-fit: cover;
    align-items: stretch;
  }

  
  .populaires_image_carte {
    width: 100%;
    padding: 5px;
    display: flex;
    max-width: 100%;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 4px 0px #80808059;
    flex-grow: 1;
    
    
  }

  .populaires a {
    width: 100%;
    height: 100%;
  }
  .figure_populaires {
    display: flex;
    margin: 0;
    font-size: smaller;
    width: auto;
    height: 100%;
    
  }

  .populaires figcaption {
    color: black;
    margin-left: 1rem;
    margin-top: 0.6rem;
    position:relative;
    display: flex;
    flex-direction: column;
    line-height: 1.3rem;
    padding-bottom: 0.5rem;
    width: 47%;
  }

  .populaires h2 {
    margin: 0;
    font-weight: bold;

    font-size: 0.9rem;
  }

  .populaires h3 {
    margin: 0;
    font-weight: normal;
    font-size: 0.8rem;
  }

  .populaires_stars {
    font-size: 0.7rem;
    color: #0368fc;
    display: flex;
    align-items: flex-end;
    height: 1.3rem;
     
     position: absolute;
     top: 100px;
      
  }


  .section2 {
    display: flex;

    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
  }
  .colonne1 {
    height: 100%;
    width: 40%;
  }
  .colonne2 {
    margin: 0px 2rem;
    height: 100%;
    width: 40%;
  }
  .colonne3 {
    height: 100%;
    width: 40%;
  }
  .colonne4 {
    height: 100%;
    width: 40%;
    margin: 0 0 0 2rem;
  }

  .activites_image_carte2 {
    margin-bottom: 2rem;
  }
  .activites_image_carte5 {
    margin-bottom: 2rem;
  }

  .section2 figcaption {
    height: 3rem;
  }

  .activites {
    max-width: 100%;
    margin-bottom: 3%;

    width: 100%;
  }
  .activites h4 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .activites h2 {
    margin-left: 1rem;

    font-weight: bold;
    font-size: 0.9rem;
  }
  .activites_image {
    display: flex;

    flex-direction: row;
  }

  .img_activites14 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 26rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  .img_activites2 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 13rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  .img_activites3 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 8rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }

  .img_activites56 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 10.5rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }

  .figure_activites {
    border-radius: 15px;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px 0px #80808059;
  }

  .footer {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    
  }

  .footer_texte {
    display: flex;
    flex-wrap: wrap;
padding-top: 2.5rem;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5rem;
    
  }
  .footer h2 {
    margin-bottom: -1.5rem;
    font-size: 1.1rem;
    margin-top: -0.2rem;
  }

  .footer_texte_carte {
    
    text-align: left;
    width: 33.3333%;
    line-height: 2.2em;
    font-size: 0.9rem;
  }
}
