/* * {
  outline: 2px red solid;
} */

@font-face {
  font-family: "raleway", sans-serif;
  src: url("raleway.ttf") format("woff2"), url("raleway.ttf") format("woff");
}

@media (min-width: 200px) and (max-width: 767px) {
  /*couvre des smartphones aux tablettes exclus*/

  body {
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: "raleway", sans-serif;
  }

  #logo_image {
    width: 120px;
    height: auto;
    margin-bottom: 0.7rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .inscrire {
    position: absolute;
    margin-left: 70%;
    margin-top: -4rem;
  }
  .onglets {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
  }

  .titre {
    margin: 1rem;
  }
  h1 {
    font-size: 1.3rem;
    font-weight: 800;
  }

  h2 {
    font-size: 1rem;
    font-weight: normal;
  }

  .liste {
    justify-content: space-between;
    display: flex;
    margin: 1rem;
    margin-bottom: 2rem;
  }

  .onglets_liste {
    width: 50%;
    text-align: center;
  }

  .recherche {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  .filtres_liste {
    margin-top: 2.4rem;
  }

  .filtres_liste_carte1 {
    margin: 1.2rem;
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  .filtres_liste_carte2 {
    border-style: solid;
    border-radius: 30px;

    border-color: black; /*#f2f2f2*/
    border-width: 2px;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: -0.2rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    height: 1.2rem;
    display: inline-block;
    padding: 12px;
    align-items: center;
  }

  .info {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: normal;
  }
  .section1 {
    flex-direction: column-reverse;
    display: flex;
  }

  .hebergement {
    width: 100%;
  }

  .hebergement_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .hebergement_image_carte {
    display: flex;
    width: 220px;
    min-height: 190px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 1.5em;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px #80808059;
  }

  .populaires {
    background-color: #f2f2f2;
    min-width: 100%;
    margin-bottom: 2rem;
  }

  .populaires h1 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .figure_populaires {
    display: flex;
    margin: 5px;
    font-size: smaller;
    width: 100%;
   
  }

  .populaires_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
   
  }

  .populaires_image_carte {
    width: auto;
    display: flex;
    box-shadow: 0px 2px 4px 0px #80808059;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .img_populaires {
    display: flex;
    border-radius: 15px 0px 0px 15px;

    width: 140px;
    height: 140px;
    object-fit: cover;
  }

  .populaires figcaption {
    width: 50%;

    margin-left: 20px;
  }

  .hebergement {
    min-width: 100%;
    margin-bottom: 2rem;
  }

  .hebergement h1 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .figure_hebergement {
    display: flex;
    margin: 5px;
    font-size: smaller;
    width: 100%;
    flex-direction: column;
  }

  .hebergement_image_carte {
    width: auto;
    display: flex;

    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
  .img_hebergement {
    display: flex;
    border-radius: 15px 15px 0px 0px;

    width: 100%;
    height: 110px;
    object-fit: cover;
  }
  .hebergement figcaption {
    margin-left: 8px;
    margin-bottom: 3px;
  }

  .hebergement h3 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    font-size: 1rem;
  }

  .activites {
    min-width: 100%;
    margin-bottom: 2rem;
  }

  .activites h1 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .figure_activites {
    display: flex;
    margin: 5px;
    font-size: smaller;
    width: 100%;
    flex-direction: column;
  }

  .activites_image_carte1,
  .activites_image_carte2,
  .activites_image_carte3,
  .activites_image_carte4,
  .activites_image_carte5,
  .activites_image_carte6 {
    display: flex;

    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }

  .img_activites14,
  .img_activites2,
  .img_activites3,
  .img_activites56 {
    display: flex;
    border-radius: 15px 15px 0px 0px;

    width: 100%;
    height: 90px;
    object-fit: cover;
  }

  .activites figcaption {
    margin-left: 8px;
    margin-bottom: 3px;
  }

  .footer {
    max-width: 100%;
    height: auto;
    background-color: #f2f2f2;
    padding-left: 1.2rem;
    padding-top: 1rem;
    padding-right: 1.2rem;
  }

  .footer_texte {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer_texte_carte {
    display: flex;
    flex-direction: column;

    margin-bottom: 2rem;
    max-width: 100%;
  }

  .footer_texte_carte h2 {
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 0rem;
  }
}

/* RETOUR AU PC*/

@media (min-width: 768px) {

body{
  height: 100%;
  width: 100%;
}

  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }

  #logo_image {
    width: 100px;
    height: auto;
    margin-top: 2rem;
  }

  .titre {
    padding-bottom: 1%;
    padding-top: 1%;
  }
  .onglets {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    padding-top: 2rem;
  }

  .fa-map-marker-alt {
    height: 100%;
    width: auto;
    background-color: #f2f2f2;
  }

  .liste {
    display: flex;
    width: 30%;
    justify-content: space-between;
  }

  .filtres {
    height: 40px;
    margin-top: 2%;
    margin-bottom: 2rem;
  }

  .filtres_liste {
    display: flex;
    flex-wrap: wrap;
  }

  .filtres_liste_carte1 {
    height: 40px;
    margin-right: 5rem;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
  }

  .filtres_liste_carte2 {
    border: 3px solid #f2f2f2;
    border-radius: 40px;
    margin-right: 3rem;
    justify-content: center;
    font-size: 1rem;
    padding-right: 1rem;
    font-weight: bold;
  }

  .section1 {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
  }

  .hebergement {
    max-width: 68%;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 15px;

    min-height: 580px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-right: 4%;
  }

  .hebergement_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
  }

  .img_hebergement {
    display: flex;
    border-radius: 15px 15px 0px 0px;

    width: 100%;
    height: 110px;
    object-fit: cover;
  }
  .hebergement_image_carte {
    display: flex;
    width: 29%;
    min-height: 150px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 1.5em;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 2px 4px 0px #80808059;
  }
  .figure_hebergement {
    font-size: smaller;
    margin: 0em;
    
  }

  .populaires {
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 30%;

    min-height: 580px;
    display: flex;
    flex-direction: column;
  }

  .populaires_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    align-items: center;
  }

  .img_populaires {
    display: flex;
    border-radius: 15px 0px 0px 15px;

    width: 130px;
    height: 130px;
    object-fit: cover;
  }

  .populaires_image_carte {
    width: 100%;
    padding: 10px;
    display: flex;
    max-width: 100%;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 4px 0px #80808059;
  }

  .figure_populaires {
    display: flex;
    margin: 0;
    font-size: smaller;
    width: 100%;
    
  }

  .section2 {
    display: flex;
    
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
  }
  .colonne1 {
    height: 100%;
    width: 40%;
  }
  .colonne2 {
    margin: 0px 2rem;
    height: 100%;
    width: 40%;
  }
  .colonne3 {
    height: 100%;
    width: 40%;
  }
  .colonne4 {
    height: 100%;
    width: 40%;
    margin: 0 0 0 2rem;
  }

.activites_image_carte2{
  margin-bottom: 2rem;
}
.activites_image_carte5{
  margin-bottom: 2rem;
}

.section2 figcaption{
  height: 3rem;
}

  .activites {
    max-width: 100%;
    margin-bottom: 3%;

    width: 100%;
  }

  .activites_image {
    display: flex;

    flex-direction: row;
  }

  .img_activites14 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 26rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  .img_activites2 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 13em;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  .img_activites3 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 8rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }

  .img_activites56 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 10.5em;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }

  .figure_activites {
    border-radius: 15px;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px 0px #80808059;
  }

  .footer {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
  }

  .footer_texte {
    display: flex;
    flex-wrap: wrap;

    height: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  .footer_texte_carte {
    padding-bottom: 2rem;
    text-align: left;
    width: 33.3333%;
  }

  /* ICONES */
  .fa-money-bill-wave,
  .fa-child,
  .fa-heart,
  .fa-dog {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin-left: -2%;
    margin-top: -1.5%;
    margin-bottom: -1%;
    padding-right: 1rem;
    padding: 15px;
  }

  .fa-star {
    color: blue;
  }

  /* ICONES */

  /*TEXTE*/

  h1 {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
  }

  body {
    font-family: "Raleway", sans-serif;
  }

  h2 {
    color: black;
    font-weight: bold;
    font-size: 1rem;
  }

  figcaption {
    line-height: 20px;
  }
}
